<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @lineitem.book_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @lineitem.order_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @lineitem.quantity %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @lineitem.cart_id %>
</p>

<%= link_to 'Edit', edit_lineitem_path(@lineitem) %> |
<%= link_to 'Back', lineitems_path %>
