<h1>Your Basket</h1>

<% if @basket.empty? %>
	<p>Your Basket is currently empty </p>
<% else %>
	<%= link_to 'Empty your Basket', basket_clear_path %>
<% end %>
<br><br><br>

<% total = 0 %>
<ul>
<% @basket.each do |id, quantity | %>
	<% book = Book.find_by_id(id) %>

	<li>
		<%= link_to book.title, book %>
		<p><%= book.author %></p>
		<p><%= number_to_currency(book.price, :unit => '€') %></p>
		<p> Quantity: <%= quantity %> </p>
	</li>
	<% total += quantity * book.price %>
<% end %>

<p><b><%= number_to_currency(total, :unit => '€') %> </b></p>
</ul>

<%= button_to 'Checkout', new_order_path, :method => :get %>