
<h1>Books for Sale</h1> 

<% if !@books.empty? %>
  <% @books.each do |book| %>
    <%= image_tag(book.image, :size => "50x50") %>
    <h3><%= book.title %></h3>
    <h3><%= book.author %></h3>
    <h3><%= book.kind %></h3>
    <h3><%= number_to_currency(book.price, :unit => '€') %></h3>
    <%= button_to 'Add to Cart', lineitems_path(book_id: book) %>
  <% end %> 
<% else %>
  <p>There are no books for sale</p> 
<% end %>

