<table>
<% @cart.lineitems.each do |item| %> 
	<tr>
	<td><%= item.quantity %> &times;
	</td> 
		<td><%= item.product.title %></td> 
		<td><%= euro(item.product.price) %></td> 
	</tr>
<% end %> 
</table>
<%= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?' %><br /> 
<%= button_to "Checkout", new_order_path, :method => :get %>