<table>
<% @cart.lineitems.each do |item| %> 
	<tr>
		<td><%= item.quantity %> &times;</td> 
		<td><%= item.book.title %></td>
    	<td><%= number_to_currency(book.price, :unit => '€') %></td>
	</tr>
<% end %> 
</table>

<%= button_to "Checkout", new_order_path, :method => :get %>
<%= button_to "Continue Shopping?", root_path, :method => :get %>
<%= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?' %>